designs/pages/userDetailsApp/addForm/addForm.json
[
    {
        "id": "sd_FzzyYK039nXc1B4v",
        "type": "tab",
        "createdDate": "2024-02-20T03:03:46.424Z",
        "label": "addForm",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "addFormComponent"
    },
    {
        "id": "sd_xruxtPfKqjyXEa7M",
        "type": "OnInit",
        "z": "sd_FzzyYK039nXc1B4v",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_xruxtPfKqjyXEa7M",
        "category": "Lifecycle Events",
        "x": 25,
        "y": 60,
        "wires": [
            [
                "sd_bXS2CPA9OO84gWOO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "addFormComponent"
    },
    {
        "id": "sd_bXS2CPA9OO84gWOO",
        "type": "PageVariables",
        "z": "sd_FzzyYK039nXc1B4v",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "gender",
                "typedIpValue": {
                    "type": "str",
                    "value": "male"
                }
            },
            {
                "textIp": "file",
                "typedIpValue": {
                    "type": "bh",
                    "value": ""
                }
            },
            {
                "textIp": "data",
                "typedIpValue": {
                    "type": "bh",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_bXS2CPA9OO84gWOO",
        "category": "Function",
        "x": 125,
        "y": 60,
        "wires": [
            [
                "sd_LL7ZcPojxP9qzo9Q"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addFormComponent",
        "generated": true
    },
    {
        "id": "sd_XNlLrEw1IGnmi8OT",
        "type": "UseDependency",
        "z": "sd_FzzyYK039nXc1B4v",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "Importing form",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "formGroup"
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "formControl"
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "validator "
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "importingForm",
        "category": "Function",
        "x": 385,
        "y": 60,
        "wires": [
            [
                "sd_zgpisejEnqH88WgS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addFormComponent",
        "generated": true
    },
    {
        "id": "sd_zgpisejEnqH88WgS",
        "type": "Script",
        "z": "sd_FzzyYK039nXc1B4v",
        "viewType": "common",
        "nodeType": "flow",
        "name": "declaring form",
        "script": "page.addForm = new page.formGroup({\n    name: new page.formControl('',[page.validator.required]),\n    phone: new page.formControl('',[page.validator.required]),\n    date: new page.formControl('',[page.validator.required]),\n    dateNow: new page.formControl(moment().format('YYYY-MM-DD'),[page.validator.required]),\n    email: new page.formControl('',[page.validator.required]),\n    country: new page.formControl('',[page.validator.required]),\n    state: new page.formControl('',[page.validator.required])\n})",
        "functionName": "declaringForm",
        "category": "Function",
        "x": 525,
        "y": 60,
        "wires": [
            [
                "sd_jflwWEx5qOhBS50c"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addFormComponent",
        "generated": true
    },
    {
        "id": "sd_jflwWEx5qOhBS50c",
        "type": "PageCallService",
        "z": "sd_FzzyYK039nXc1B4v",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_CK4a3TO3vRkIuzHm",
            "type": "tab",
            "createdDate": "2024-02-20T04:50:49.891Z",
            "label": "userService",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_omv02yD2IyIYgSGk",
            "flowName": "fetchCountryAndState"
        },
        "inputVariables": [
            {
                "key": "result",
                "map": true,
                "valueType": "bh",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "result",
                "valueType": "this.page",
                "value": "countries",
                "mapVarName": "result",
                "localVar": "this.page.countries"
            }
        ],
        "serviceImportPath": "app/sd-services/userService",
        "startName": "fetchCountryAndState",
        "inputParams": [
            null
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_jflwWEx5qOhBS50c",
        "category": "General",
        "x": 700,
        "y": 60,
        "wires": [
            [
                "sd_DXHEI53wQ8ohi07x"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addFormComponent",
        "generated": true
    },
    {
        "id": "sd_DXHEI53wQ8ohi07x",
        "type": "Script",
        "z": "sd_FzzyYK039nXc1B4v",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(page?.countries,'country and state data')\npage.countries = page?.countries?.data",
        "functionName": "sd_DXHEI53wQ8ohi07x",
        "category": "Function",
        "x": 840,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addFormComponent",
        "generated": true
    },
    {
        "id": "sd_IsIvBvyRbEMo1xQz",
        "type": "PageStart",
        "z": "sd_FzzyYK039nXc1B4v",
        "viewType": "pages",
        "nodeType": "start",
        "name": "select states",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "country",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "selectStates",
        "category": "General",
        "x": 305,
        "y": 220,
        "wires": [
            [
                "sd_Luo5adr2QfrY3tFb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "addFormComponent"
    },
    {
        "id": "sd_Luo5adr2QfrY3tFb",
        "type": "Script",
        "z": "sd_FzzyYK039nXc1B4v",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(bh.input?.country?.value?.states,'states')\npage.country = bh.input?.country?.value\npage.weatherDate = 0\npage.states = bh.input?.country?.value?.states",
        "functionName": "sd_Luo5adr2QfrY3tFb",
        "category": "Function",
        "x": 540,
        "y": 220,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addFormComponent",
        "generated": true
    },
    {
        "id": "sd_HhMmSQ3EjzeFMjKM",
        "type": "PageStart",
        "z": "sd_FzzyYK039nXc1B4v",
        "viewType": "pages",
        "nodeType": "start",
        "name": "get weather details",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "state",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getWeatherDetails",
        "category": "General",
        "x": 305,
        "y": 360,
        "wires": [
            [
                "sd_jkUHSGLQlaSb8fMP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "addFormComponent"
    },
    {
        "id": "sd_MsYOEQ5tZ0HHu8Fh",
        "type": "Script",
        "z": "sd_FzzyYK039nXc1B4v",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(bh.local.result,'weather result showing flow page')\npage.weatherDetails = bh.local?.result",
        "functionName": "sd_MsYOEQ5tZ0HHu8Fh",
        "category": "Function",
        "x": 745,
        "y": 360,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addFormComponent",
        "generated": true
    },
    {
        "id": "sd_3mqTX6Wo7yHvOzTn",
        "type": "PageCallService",
        "z": "sd_FzzyYK039nXc1B4v",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_CK4a3TO3vRkIuzHm",
            "type": "tab",
            "createdDate": "2024-02-20T04:50:49.891Z",
            "label": "userService",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_wOWTr4KgfdNpheyr",
            "flowName": "fetchWeatherData"
        },
        "inputVariables": [
            {
                "key": "state",
                "map": true,
                "valueType": "bh.input",
                "value": "state.value"
            },
            {
                "key": "result",
                "map": true,
                "valueType": "bh",
                "value": ""
            },
            {
                "key": "country",
                "map": true,
                "valueType": "this.page",
                "value": "country.name"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "result",
                "valueType": "bh.local",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.local.result"
            }
        ],
        "serviceImportPath": "app/sd-services/userService",
        "startName": "fetchWeatherData",
        "inputParams": [
            "bh.input.state.value",
            null,
            "this.page.country.name"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_3mqTX6Wo7yHvOzTn",
        "category": "General",
        "x": 560,
        "y": 360,
        "wires": [
            [
                "sd_MsYOEQ5tZ0HHu8Fh"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addFormComponent",
        "generated": true
    },
    {
        "id": "sd_jkUHSGLQlaSb8fMP",
        "type": "Script",
        "z": "sd_FzzyYK039nXc1B4v",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.state = bh?.input?.state?.value\nconsole.log(bh?.input?.state?.value,'state on change working')",
        "functionName": "sd_jkUHSGLQlaSb8fMP",
        "category": "Function",
        "x": 420,
        "y": 360,
        "wires": [
            [
                "sd_3mqTX6Wo7yHvOzTn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addFormComponent",
        "generated": true
    },
    {
        "id": "sd_LL7ZcPojxP9qzo9Q",
        "type": "UseDependency",
        "z": "sd_FzzyYK039nXc1B4v",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "Importing moment",
        "inputs": 1,
        "outputs": 1,
        "property": "moment",
        "propertyType": "this.page",
        "propertyGv": "this.page.moment",
        "alias": "moment",
        "modules": [],
        "import_all": true,
        "library": "moment",
        "serviceDesignerType": "pages",
        "functionName": "importingMoment",
        "category": "Function",
        "x": 265,
        "y": 60,
        "wires": [
            [
                "sd_XNlLrEw1IGnmi8OT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addFormComponent",
        "generated": true
    },
    {
        "id": "sd_qpD2nZDVPHn8Yw8D",
        "type": "PageStart",
        "z": "sd_FzzyYK039nXc1B4v",
        "viewType": "pages",
        "nodeType": "start",
        "name": "add details",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "addDetails",
        "category": "General",
        "x": 85,
        "y": 480,
        "wires": [
            [
                "sd_N0u9IUWfoJcHbRao"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "addFormComponent"
    },
    {
        "id": "sd_s7DGOfXxkeG32P5v",
        "type": "Script",
        "z": "sd_FzzyYK039nXc1B4v",
        "viewType": "common",
        "nodeType": "flow",
        "name": "form validation",
        "script": "bh.local.data = page?.addForm?.value\n\nif(bh?.input?.isOk==false){\n    return\n}\n\nif (!page?.addForm?.value?.country) {\n    page.addForm.get('country').status = 'INVALID'\n    return\n}\n\nif (!page?.addForm?.value?.state) {\n    page.addForm.get('state').status = 'INVALID'\n    return\n}\n\n// if(!page?.weatherDetails){\n//       throw {\n//         message:'Weather details not get'\n//     }\n// }\n\nif (!page?.addForm?.value?.date) {\n    page.addForm.get('date').status = 'INVALID'\n    return\n}\n\nif (page?.data?.details) {\n    page.data = {\n        name: page?.addForm?.value?.name,\n        phone: page?.addForm?.value?.phone,\n        email: page?.addForm?.value?.email,\n        sex: page?.gender,\n        details: [...page?.data?.details, { date: page?.addForm?.value?.date, currentDate: page?.date?.currentDate, dateDiff: page?.date?.difference, weather: page?.weatherDetails?.main?.feels_like,country:page?.country?.name,state:page?.state }]\n    }\n}else{\n    page.data = {\n    name : page?.addForm?.value?.name,\n    phone:page?.addForm?.value?.phone,\n    email:page?.addForm?.value?.email,\n    sex:page?.gender,\n    details:[{date:page?.addForm?.value?.date,currentDate:page?.date?.currentDate,dateDiff:page?.date?.difference, weather: page?.weatherDetails?.main?.feels_like,country:page?.country?.name,state:page?.state }]\n}\n}\n\nbh.local.response = {\n    message: 'value add successfully',\n    status: 'true'\n}",
        "functionName": "formValidation",
        "category": "Function",
        "x": 305,
        "y": 480,
        "wires": [
            [
                "sd_Yh2eTPlxczucOMU8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addFormComponent",
        "generated": true
    },
    {
        "id": "sd_PkZ4u6T0TUszG3fN",
        "type": "PageStart",
        "z": "sd_FzzyYK039nXc1B4v",
        "viewType": "pages",
        "nodeType": "start",
        "name": "file uploading",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "file",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "fileUploading",
        "category": "General",
        "x": 145,
        "y": 680,
        "wires": [
            [
                "sd_z7DDQBUc3NP29BPH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "addFormComponent"
    },
    {
        "id": "sd_z7DDQBUc3NP29BPH",
        "type": "Script",
        "z": "sd_FzzyYK039nXc1B4v",
        "viewType": "common",
        "nodeType": "flow",
        "name": "file validation",
        "script": "console.log(bh.input?.file,'file uploading')\npage.file = bh.input?.file\n\nif(!isValidImage(page?.file)){\n    throw {\n        message:'Add valid image or pdf'\n    }\n}\n\nfunction isValidImage(file:any) {\n    const acceptedImageTypes = [\"image/jpeg\", \"image/jpg\", \"image/avif\", \"image/png\", \"image/webp\",\"application/pdf\"]\n    return acceptedImageTypes.includes(file?.type);\n}",
        "functionName": "fileValidation",
        "category": "Function",
        "x": 320,
        "y": 680,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addFormComponent",
        "generated": true
    },
    {
        "id": "sd_yFh6iSmGdWLEX5Az",
        "type": "PageStart",
        "z": "sd_FzzyYK039nXc1B4v",
        "viewType": "pages",
        "nodeType": "start",
        "name": "set gender",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "sex",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "setGender",
        "category": "General",
        "x": 445,
        "y": 680,
        "wires": [
            [
                "sd_OcHhBTndw7w5hI5B"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "addFormComponent"
    },
    {
        "id": "sd_OcHhBTndw7w5hI5B",
        "type": "Script",
        "z": "sd_FzzyYK039nXc1B4v",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.gender = bh.input?.sex\nconsole.log(page.gender ,'sex consling')",
        "functionName": "sd_OcHhBTndw7w5hI5B",
        "category": "Function",
        "x": 640,
        "y": 680,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addFormComponent",
        "generated": true
    },
    {
        "id": "sd_crfgDEX1KmBStY8F",
        "type": "Catch",
        "z": "sd_FzzyYK039nXc1B4v",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "selectedNodes": "all-nodes",
        "selectCatchType": "allnodes",
        "masternodeList": "",
        "ignoreList": [
            "sd_kRR9cHkE9xUbFXT8"
        ],
        "functionName": "sd_crfgDEX1KmBStY8F",
        "category": "General",
        "x": 105,
        "y": 580,
        "wires": [
            [
                "sd_kRR9cHkE9xUbFXT8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "addFormComponent"
    },
    {
        "id": "sd_kRR9cHkE9xUbFXT8",
        "type": "SnackBar",
        "z": "sd_FzzyYK039nXc1B4v",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "bh",
            "value": "error.message"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "2500"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_kRR9cHkE9xUbFXT8",
        "category": "General",
        "x": 260,
        "y": 580,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addFormComponent",
        "generated": true
    },
    {
        "id": "sd_JhNRXd5cJpliQaTc",
        "type": "PageStart",
        "z": "sd_FzzyYK039nXc1B4v",
        "viewType": "pages",
        "nodeType": "start",
        "name": "on date changes",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "date",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "onDateChanges",
        "category": "General",
        "x": 125,
        "y": 820,
        "wires": [
            [
                "sd_lMz4D11deh69f0i1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "addFormComponent"
    },
    {
        "id": "sd_lMz4D11deh69f0i1",
        "type": "Script",
        "z": "sd_FzzyYK039nXc1B4v",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(bh?.input?.date, 'date consoling')\nlet date: any = new Date(bh.input.date)\nconst currentDate: any = new Date();\nconsole.log(Math.abs(currentDate.getTime() - date.getTime()), 'date difference consoling')\n\nconst timeDifferenceMs = Math.abs(currentDate.getTime() - date.getTime())\n\nconst daysDifference = Math.floor(timeDifferenceMs / (1000 * 60 * 60 * 24));\n\nconst hoursDifference = Math.floor((timeDifferenceMs % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));\n\npage.date = {\n    difference: `${daysDifference} Days ${hoursDifference} Hours`,\n    currentDate :currentDate,\n    date : date\n}",
        "functionName": "sd_lMz4D11deh69f0i1",
        "category": "Function",
        "x": 300,
        "y": 820,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addFormComponent",
        "generated": true
    },
    {
        "id": "sd_Yh2eTPlxczucOMU8",
        "type": "PageSwitch",
        "z": "sd_FzzyYK039nXc1B4v",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "response.status",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.response.status",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str",
                "gv": "\"true\""
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "functionName": "sd_Yh2eTPlxczucOMU8",
        "category": "Function",
        "x": 425,
        "y": 480,
        "wires": [
            [
                "sd_kxC69d2H284tln6e",
                "sd_hDW1MI8ShFiMKhLV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addFormComponent",
        "generated": true
    },
    {
        "id": "sd_kxC69d2H284tln6e",
        "type": "SnackBar",
        "z": "sd_FzzyYK039nXc1B4v",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "bh.local",
            "value": "response.message"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "2500"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_kxC69d2H284tln6e",
        "category": "General",
        "x": 645,
        "y": 440,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addFormComponent",
        "generated": true
    },
    {
        "id": "sd_hDW1MI8ShFiMKhLV",
        "type": "Script",
        "z": "sd_FzzyYK039nXc1B4v",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.weather = {},\npage.country = '',\npage.state = ''\npage.date = {}\n\nconsole.log(page?.data,'appo ellam complete aay tto')\n",
        "functionName": "sd_hDW1MI8ShFiMKhLV",
        "category": "Function",
        "x": 625,
        "y": 560,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addFormComponent",
        "generated": true
    },
    {
        "id": "sd_yWwKfKx6vpz7e2tR",
        "type": "PageStart",
        "z": "sd_FzzyYK039nXc1B4v",
        "viewType": "pages",
        "nodeType": "start",
        "name": "submit form",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "submitForm",
        "category": "General",
        "x": 85,
        "y": 960,
        "wires": [
            [
                "sd_3BjrpbuhSZEOtkVl"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "addFormComponent"
    },
    {
        "id": "sd_AwEdxrP3ehCvL79i",
        "type": "Script",
        "z": "sd_FzzyYK039nXc1B4v",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if(bh?.input?.isOk==false){\n    return\n}\n\nfunction isValidImage(file: any) {\n    const acceptedImageTypes = [\"image/jpeg\", \"image/jpg\", \"image/avif\", \"image/png\", \"image/webp\", \"application/pdf\"]\n    return acceptedImageTypes.includes(file?.type);\n}\n\nif (!isValidImage(page?.file)) {\n    throw {\n        message: 'Add valid image or pdf'\n    }\n}\n\nif(!page?.data){\n    throw {\n        message : 'Add details'\n    }\n}\n\nconst formData = new FormData()\n\nconst detailsJSON = JSON.stringify(page?.data?.details);\n\nformData.append('name',page?.data?.name)\nformData.append('phone',page?.data?.phone)\nformData.append('email',page?.data?.email)\nformData.append('sex',page?.data?.sex)\nformData.append('file',page?.file)\nformData.append('details',detailsJSON)\n\npage.data = formData\n",
        "functionName": "sd_AwEdxrP3ehCvL79i",
        "category": "Function",
        "x": 485,
        "y": 960,
        "wires": [
            [
                "sd_yoFs96Eg9zPYLT82"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addFormComponent",
        "generated": true
    },
    {
        "id": "sd_obPjYTbMuf09LNtG",
        "type": "Script",
        "z": "sd_FzzyYK039nXc1B4v",
        "viewType": "common",
        "nodeType": "flow",
        "name": "common validation script",
        "script": "function validateEmail(email: any) {\n    const emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n    return emailRegex.test(email);\n}\n\nfunction validateMobile(phone: any) {\n    const phoneRegex = /^\\d{10}$/;\n    return phoneRegex.test(phone);\n}\n\n\n\nif (page?.addForm?.value?.name?.trim().length == 0) {\n    page.addForm.get('name').status = 'INVALID'\n    return\n}\n\nif (!validateMobile(page?.addForm?.value?.phone)) {\n    page.addForm.get('phone').errors = {\n        regex_error: true\n    }\n    page.addForm.get('phone').status = 'INVALID'\n    return\n}\n\nif (!validateEmail(page?.addForm?.value?.email)) {\n    page.addForm.get('email').errors = {\n        regex_error: true\n    }\n    page.addForm.get('email').status = 'INVALID'\n    return\n}\n\nbh.input.isOk = true\n\n",
        "functionName": "commonValidationScript",
        "category": "Function",
        "x": 1025,
        "y": 520,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addFormComponent",
        "generated": true
    },
    {
        "id": "sd_dahiq9z01Rv2fzyF",
        "type": "PageStart",
        "z": "sd_FzzyYK039nXc1B4v",
        "viewType": "pages",
        "nodeType": "start",
        "name": "common validation",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "isOk",
                "defaultValue": {
                    "type": "bool",
                    "value": "false"
                },
                "output": true
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "commonValidation",
        "category": "General",
        "x": 820,
        "y": 520,
        "wires": [
            [
                "sd_obPjYTbMuf09LNtG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "addFormComponent"
    },
    {
        "id": "sd_N0u9IUWfoJcHbRao",
        "type": "PageCallService",
        "z": "sd_FzzyYK039nXc1B4v",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_FzzyYK039nXc1B4v",
            "type": "tab",
            "createdDate": "2024-02-20T03:03:46.424Z",
            "label": "addForm",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_dahiq9z01Rv2fzyF",
            "flowName": "commonValidation"
        },
        "inputVariables": [
            {
                "key": "isOk",
                "map": true,
                "valueType": "bh",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "isOk",
                "valueType": "bh.input",
                "value": "isOK",
                "mapVarName": "isOk",
                "localVar": "bh.input.isOK"
            }
        ],
        "serviceImportPath": "./",
        "startName": "commonValidation",
        "inputParams": [
            null
        ],
        "accept_bh": false,
        "accept_csd": false,
        "functionName": "sd_N0u9IUWfoJcHbRao",
        "category": "General",
        "x": 200,
        "y": 480,
        "wires": [
            [
                "sd_s7DGOfXxkeG32P5v"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addFormComponent",
        "generated": true
    },
    {
        "id": "sd_3BjrpbuhSZEOtkVl",
        "type": "PageCallService",
        "z": "sd_FzzyYK039nXc1B4v",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_FzzyYK039nXc1B4v",
            "type": "tab",
            "createdDate": "2024-02-20T03:03:46.424Z",
            "label": "addForm",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_dahiq9z01Rv2fzyF",
            "flowName": "commonValidation"
        },
        "inputVariables": [
            {
                "key": "isOk",
                "map": true,
                "valueType": "bh",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "isOk",
                "valueType": "bh.input",
                "value": "isOk",
                "mapVarName": "isOk",
                "localVar": "bh.input.isOk"
            }
        ],
        "serviceImportPath": "./",
        "startName": "commonValidation",
        "inputParams": [
            null
        ],
        "accept_bh": false,
        "accept_csd": false,
        "functionName": "sd_3BjrpbuhSZEOtkVl",
        "category": "General",
        "x": 280,
        "y": 960,
        "wires": [
            [
                "sd_AwEdxrP3ehCvL79i"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addFormComponent",
        "generated": true
    },
    {
        "id": "sd_yoFs96Eg9zPYLT82",
        "type": "PageCallService",
        "z": "sd_FzzyYK039nXc1B4v",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "calling submit service",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_CK4a3TO3vRkIuzHm",
            "type": "tab",
            "createdDate": "2024-02-20T04:50:49.891Z",
            "label": "userService",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_aqVjfeHGhi3yH4jT",
            "flowName": "addDetails"
        },
        "inputVariables": [
            {
                "key": "details",
                "map": true,
                "valueType": "this.page",
                "value": "data"
            },
            {
                "key": "response",
                "map": true,
                "valueType": "bh",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "response",
                "valueType": "bh.local",
                "value": "response",
                "mapVarName": "response",
                "localVar": "bh.local.response"
            }
        ],
        "serviceImportPath": "app/sd-services/userService",
        "startName": "addDetails",
        "inputParams": [
            "this.page.data",
            null
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "callingSubmitService",
        "category": "General",
        "x": 645,
        "y": 960,
        "wires": [
            [
                "sd_OgjfcqFsByEZ1MUq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addFormComponent",
        "generated": true
    },
    {
        "id": "sd_OgjfcqFsByEZ1MUq",
        "type": "PageSwitch",
        "z": "sd_FzzyYK039nXc1B4v",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "response.statusCode",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.response.statusCode",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num",
                "gv": "200"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "functionName": "sd_OgjfcqFsByEZ1MUq",
        "category": "Function",
        "x": 785,
        "y": 960,
        "wires": [
            [
                "sd_dZmzzgWqwe6QkL1m"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addFormComponent",
        "generated": true
    },
    {
        "id": "sd_dZmzzgWqwe6QkL1m",
        "type": "Navigation",
        "z": "sd_FzzyYK039nXc1B4v",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/listDetails",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_dZmzzgWqwe6QkL1m",
        "category": "Navigation",
        "x": 900,
        "y": 960,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addFormComponent",
        "generated": true
    }
]
