designs/pages/userDetailsApp/listTable/detailView.json
[
    {
        "id": "sd_PMiZvyRFcxv5v9TD",
        "type": "tab",
        "createdDate": "2024-02-21T03:42:12.342Z",
        "label": "detailView",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "detailViewComponent"
    },
    {
        "id": "sd_7x9AgBOMAesuBHIS",
        "type": "OnInit",
        "z": "sd_PMiZvyRFcxv5v9TD",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [
            {
                "key": "id",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                }
            },
            {
                "key": "response",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                }
            }
        ],
        "localVariables": [],
        "outputVariables": [],
        "pageVariables": [],
        "functionName": "sd_7x9AgBOMAesuBHIS",
        "category": "Lifecycle Events",
        "x": 85,
        "y": 60,
        "wires": [
            [
                "sd_wKGVPlM8Yu1UsR24"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "detailViewComponent"
    },
    {
        "id": "sd_wKGVPlM8Yu1UsR24",
        "type": "PageVariables",
        "z": "sd_PMiZvyRFcxv5v9TD",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "modalFormOpen",
                "typedIpValue": {
                    "type": "str",
                    "value": "false"
                }
            }
        ],
        "functionName": "sd_wKGVPlM8Yu1UsR24",
        "category": "Function",
        "x": 165,
        "y": 60,
        "wires": [
            [
                "sd_OXa81nq5gFgF28WI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "detailViewComponent",
        "generated": true
    },
    {
        "id": "sd_OX3NlAh4RoSd1w0s",
        "type": "NavigationData",
        "z": "sd_PMiZvyRFcxv5v9TD",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "queryParams",
        "operation": "getAll",
        "key": "bh",
        "resultMapping": "bh.local.query",
        "functionName": "sd_OX3NlAh4RoSd1w0s",
        "category": "Navigation",
        "x": 485,
        "y": 60,
        "wires": [
            [
                "sd_kx36eL9wmCRAwsks"
            ]
        ],
        "__ssdTypeInputs__": {
            "key": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.local",
                "value": "query",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "detailViewComponent",
        "generated": true
    },
    {
        "id": "sd_kx36eL9wmCRAwsks",
        "type": "PageCallService",
        "z": "sd_PMiZvyRFcxv5v9TD",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_CK4a3TO3vRkIuzHm",
            "type": "tab",
            "createdDate": "2024-02-20T04:50:49.891Z",
            "label": "userService",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_i8pWizpGFkzBu5Jt",
            "flowName": "fetchDetails"
        },
        "inputVariables": [
            {
                "key": "response",
                "map": true,
                "valueType": "bh",
                "value": ""
            },
            {
                "key": "query",
                "map": true,
                "valueType": "bh.local",
                "value": "query"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "response",
                "valueType": "bh.local",
                "value": "response",
                "mapVarName": "response",
                "localVar": "bh.local.response"
            }
        ],
        "serviceImportPath": "app/sd-services/userService",
        "startName": "fetchDetails",
        "inputParams": [
            null,
            "bh.local.query"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_kx36eL9wmCRAwsks",
        "category": "General",
        "x": 585,
        "y": 60,
        "wires": [
            [
                "sd_0ANtjRCZQEKOiPFZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "detailViewComponent",
        "generated": true
    },
    {
        "id": "sd_0ANtjRCZQEKOiPFZ",
        "type": "Script",
        "z": "sd_PMiZvyRFcxv5v9TD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(bh.local?.response?.data?.[0],'details')\npage.data = bh.local?.response?.data?.[0]\npage.details = []\npage.data?.details?.forEach((detail:any,index:number)=>{\n    page.details = [...page?.details,{...JSON.parse(detail),index}]\n})",
        "functionName": "sd_0ANtjRCZQEKOiPFZ",
        "category": "Function",
        "x": 685,
        "y": 60,
        "wires": [
            [
                "sd_dWwvhMQRNaXyc9WT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "detailViewComponent",
        "generated": true
    },
    {
        "id": "sd_U5VWzQasZSCDVCNg",
        "type": "UseDependency",
        "z": "sd_PMiZvyRFcxv5v9TD",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "Importing form",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "formGroup"
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "formControl"
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "validator "
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "importingForm",
        "category": "Function",
        "x": 385,
        "y": 60,
        "wires": [
            [
                "sd_OX3NlAh4RoSd1w0s"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "detailViewComponent",
        "generated": true
    },
    {
        "id": "sd_OXa81nq5gFgF28WI",
        "type": "UseDependency",
        "z": "sd_PMiZvyRFcxv5v9TD",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "Importing moment",
        "inputs": 1,
        "outputs": 1,
        "property": "moment",
        "propertyType": "this.page",
        "propertyGv": "this.page.moment",
        "alias": "moment",
        "modules": [],
        "import_all": true,
        "library": "moment",
        "serviceDesignerType": "pages",
        "functionName": "importingMoment",
        "category": "Function",
        "x": 285,
        "y": 60,
        "wires": [
            [
                "sd_U5VWzQasZSCDVCNg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "detailViewComponent",
        "generated": true
    },
    {
        "id": "sd_dWwvhMQRNaXyc9WT",
        "type": "Script",
        "z": "sd_PMiZvyRFcxv5v9TD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "declaring form",
        "script": "const data = page.data\npage.mainEditForm = new page.formGroup({\n    name: new page.formControl(data?.name, [page.validator.required]),\n    phone: new page.formControl(data?.phone, [page.validator.required]),\n    email: new page.formControl(data?.email, [page.validator.required]),\n    sex: new page.formControl(data?.sex, [page.validator.required])\n})\n\npage.subDataEditForm = new page.formGroup({\n    date: new page.formControl('', [page.validator.required]),\n    country: new page.formControl('', [page.validator.required]),\n    state: new page.formControl('', [page.validator.required])\n})",
        "functionName": "declaringForm",
        "category": "Function",
        "x": 805,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "detailViewComponent",
        "generated": true
    },
    {
        "id": "sd_g1IfUruqm8py3ena",
        "type": "PageStart",
        "z": "sd_PMiZvyRFcxv5v9TD",
        "viewType": "pages",
        "nodeType": "start",
        "name": "modal form managing",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "action",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            },
            {
                "key": "editData",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "modalFormManaging",
        "category": "General",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "sd_xV3zQTFVvwFyXLhq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "detailViewComponent"
    },
    {
        "id": "sd_xV3zQTFVvwFyXLhq",
        "type": "Script",
        "z": "sd_PMiZvyRFcxv5v9TD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "setting modal",
        "script": "page.editData = bh.input?.editData \nJSON.stringify(bh.input?.editData)\npage.modalFormOpen = bh?.input?.action == 'open' ? true:false;",
        "functionName": "settingModal",
        "category": "Function",
        "x": 300,
        "y": 240,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "detailViewComponent",
        "generated": true
    },
    {
        "id": "sd_NJ9s9hekZd3Msghc",
        "type": "PageStart",
        "z": "sd_PMiZvyRFcxv5v9TD",
        "viewType": "pages",
        "nodeType": "start",
        "name": "after Edit",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "newDatas",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "afterEdit",
        "category": "General",
        "x": 105,
        "y": 400,
        "wires": [
            [
                "sd_LtzaMcsrrNah7CCk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "detailViewComponent"
    },
    {
        "id": "sd_LtzaMcsrrNah7CCk",
        "type": "Script",
        "z": "sd_PMiZvyRFcxv5v9TD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "setting after edit",
        "script": "let newData = bh.input.newDatas\n\nif (newData?.isNew) {\n    console.log('new aanuuuuuuuuuuuuuuuuuu')\n    page.details = [...page?.details,{...newData,index:page?.details?.length}]\n} else {\n    console.log('edit aanuuuuuuuuuuuuuuuuuu')\n    const details = page?.details\n    page.details = []\n    details?.forEach((detail: any, index: number) => {\n        if (newData.index == index) {\n            page.details = [...page?.details,{ ...newData}]\n        }else{\n            page.details = [...page?.details,detail]\n        }\n    })\n\n}\n\npage.modalFormOpen = false\n\n",
        "functionName": "settingAfterEdit",
        "category": "Function",
        "x": 320,
        "y": 400,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "detailViewComponent",
        "generated": true
    },
    {
        "id": "sd_GtNT9KkDIOx5W3qm",
        "type": "PageStart",
        "z": "sd_PMiZvyRFcxv5v9TD",
        "viewType": "pages",
        "nodeType": "start",
        "name": "submit main form",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "submitMainForm",
        "category": "General",
        "x": 105,
        "y": 540,
        "wires": [
            [
                "sd_PuoqrboivG0zZycS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "detailViewComponent"
    },
    {
        "id": "sd_PuoqrboivG0zZycS",
        "type": "Script",
        "z": "sd_PMiZvyRFcxv5v9TD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "submit form validation",
        "script": "function validateEmail(email: any) {\n    const emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n    return emailRegex.test(email);\n}\n\nfunction validateMobile(phone: any) {\n    const phoneRegex = /^\\d{10}$/;\n    return phoneRegex.test(phone);\n}\n\n\n\nif (page?.mainEditForm?.value?.name?.trim().length == 0) {\n    page.mainEditForm.get('name').status = 'INVALID'\n    return\n}\n\nif (page?.mainEditForm?.value?.sex?.trim().length == 0) {\n    page.mainEditForm.get('sex').status = 'INVALID'\n    return\n}\n\nif (!validateMobile(page?.mainEditForm?.value?.phone)) {\n    page.mainEditForm.get('phone').errors = {\n        regex_error: true\n    }\n    page.mainEditForm.get('phone').status = 'INVALID'\n    return\n}\n\nif (!validateEmail(page?.mainEditForm?.value?.email)) {\n    page.mainEditForm.get('email').errors = {\n        regex_error: true\n    }\n    page.mainEditForm.get('email').status = 'INVALID'\n    return\n}\n\n\nconst formData = new FormData()\n\nconst detailsJSON = JSON.stringify(page?.details);\nconst file = page?.file ? page?.file : []\n\nconsole.log(file,'file consoling at submit page')\n\nconst isNumberChange = page?.mainEditForm?.value?.phone == page?.data?.phone ?false:true\n\nconsole.log(isNumberChange,page?.mainEditForm?.value?.phone ,page?.data?.phone)\n\nformData.append('name', page?.mainEditForm?.value?.name)\nformData.append('phone', page?.mainEditForm?.value?.phone)\nformData.append('email', page?.mainEditForm?.value?.email)\nformData.append('sex', page?.mainEditForm?.value?.sex)\nformData.append('id', page?.data?.id)\nformData.append('file', file)\nformData.append('details', detailsJSON)\n\npage.body = formData\nbh.local.query = {isNumberChange:isNumberChange}\n",
        "functionName": "submitFormValidation",
        "category": "Function",
        "x": 340,
        "y": 540,
        "wires": [
            [
                "sd_JKyhXe9YBWAdJpTt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "detailViewComponent",
        "generated": true
    },
    {
        "id": "sd_JKyhXe9YBWAdJpTt",
        "type": "PageCallService",
        "z": "sd_PMiZvyRFcxv5v9TD",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "submit call service",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_CK4a3TO3vRkIuzHm",
            "type": "tab",
            "createdDate": "2024-02-20T04:50:49.891Z",
            "label": "userService",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_noOT5LUeIApJFuuZ",
            "flowName": "updateDetails"
        },
        "inputVariables": [
            {
                "key": "response",
                "map": true,
                "valueType": "bh",
                "value": ""
            },
            {
                "key": "body",
                "map": true,
                "valueType": "this.page",
                "value": "body"
            },
            {
                "key": "query",
                "map": true,
                "valueType": "bh.local",
                "value": "query"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "response",
                "valueType": "bh.local",
                "value": "response",
                "mapVarName": "response",
                "localVar": "bh.local.response"
            }
        ],
        "serviceImportPath": "app/sd-services/userService",
        "startName": "updateDetails",
        "inputParams": [
            null,
            "this.page.body",
            "bh.local.query"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "submitCallService",
        "category": "General",
        "x": 600,
        "y": 540,
        "wires": [
            [
                "sd_FtX8idw3PRLfOrII"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "detailViewComponent",
        "generated": true
    },
    {
        "id": "sd_5fKPNtTiBiDWif8y",
        "type": "PageStart",
        "z": "sd_PMiZvyRFcxv5v9TD",
        "viewType": "pages",
        "nodeType": "start",
        "name": "file uploading",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "file",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "fileUploading",
        "category": "General",
        "x": 485,
        "y": 300,
        "wires": [
            [
                "sd_mbAj65IAQyD8mVP1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "detailViewComponent"
    },
    {
        "id": "sd_mbAj65IAQyD8mVP1",
        "type": "Script",
        "z": "sd_PMiZvyRFcxv5v9TD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "file validation",
        "script": "console.log(bh.input?.file,'file uploading')\npage.file = bh.input?.file\n\nif(!isValidImage(page?.file)){\n    throw {\n        message:'Add valid image or pdf'\n    }\n}\n\nfunction isValidImage(file:any) {\n    const acceptedImageTypes = [\"image/jpeg\", \"image/jpg\", \"image/png\", \"image/webp\",\"application/pdf\"]\n    return acceptedImageTypes.includes(file?.type);\n}",
        "functionName": "fileValidation",
        "category": "Function",
        "x": 660,
        "y": 300,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "detailViewComponent",
        "generated": true
    },
    {
        "id": "sd_NMGTTIxHfMKDwJC9",
        "type": "Catch",
        "z": "sd_PMiZvyRFcxv5v9TD",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "selectedNodes": [
            "sd_5fKPNtTiBiDWif8y",
            "sd_mbAj65IAQyD8mVP1"
        ],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "ignoreList": [
            "sd_kRR9cHkE9xUbFXT8"
        ],
        "functionName": "sd_NMGTTIxHfMKDwJC9",
        "category": "General",
        "x": 485,
        "y": 420,
        "wires": [
            [
                "sd_bdmUYiJWhkiJZjHl"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "detailViewComponent"
    },
    {
        "id": "sd_bdmUYiJWhkiJZjHl",
        "type": "SnackBar",
        "z": "sd_PMiZvyRFcxv5v9TD",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "bh",
            "value": "error.message"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "2500"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_bdmUYiJWhkiJZjHl",
        "category": "General",
        "x": 640,
        "y": 420,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "detailViewComponent",
        "generated": true
    },
    {
        "id": "sd_V2xQgBeyv33ljnSm",
        "type": "Catch",
        "z": "sd_PMiZvyRFcxv5v9TD",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "selectedNodes": [
            "sd_GtNT9KkDIOx5W3qm",
            "sd_PuoqrboivG0zZycS",
            "sd_JKyhXe9YBWAdJpTt"
        ],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "ignoreList": [
            "sd_kRR9cHkE9xUbFXT8"
        ],
        "functionName": "sd_V2xQgBeyv33ljnSm",
        "category": "General",
        "x": 485,
        "y": 680,
        "wires": [
            [
                "sd_4NmhPLlSgb1EEjnU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "detailViewComponent"
    },
    {
        "id": "sd_uQC2hlU8QoVRrMGE",
        "type": "SnackBar",
        "z": "sd_PMiZvyRFcxv5v9TD",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "bh",
            "value": "error.message"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "2500"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_uQC2hlU8QoVRrMGE",
        "category": "General",
        "x": 805,
        "y": 680,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "detailViewComponent",
        "generated": true
    },
    {
        "id": "sd_4NmhPLlSgb1EEjnU",
        "type": "Script",
        "z": "sd_PMiZvyRFcxv5v9TD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "error setting",
        "script": "console.log(bh.error,'error consoling')\nconst colonIndex = bh.error?.error?.indexOf(':');\n\nconst atIndex =bh.error?.error?.indexOf(' at', colonIndex);\n\nbh.error.message =bh.error?.error?.substring(colonIndex + 1, atIndex);\nconsole.log(bh.error.message,'error message consoling')",
        "functionName": "errorSetting",
        "category": "Function",
        "x": 645,
        "y": 680,
        "wires": [
            [
                "sd_uQC2hlU8QoVRrMGE"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "detailViewComponent",
        "generated": true
    },
    {
        "id": "sd_pDuIxgiLL1BS3WgE",
        "type": "Navigation",
        "z": "sd_PMiZvyRFcxv5v9TD",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/listDetails",
        "functionName": "sd_pDuIxgiLL1BS3WgE",
        "category": "Navigation",
        "x": 1085,
        "y": 540,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "detailViewComponent",
        "generated": true
    },
    {
        "id": "sd_8HbYx08mU9m1MA8H",
        "type": "PageSwitch",
        "z": "sd_PMiZvyRFcxv5v9TD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "response.statusCode",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.response.statusCode",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num",
                "gv": "200"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "functionName": "sd_8HbYx08mU9m1MA8H",
        "category": "Function",
        "x": 805,
        "y": 540,
        "wires": [
            [
                "sd_ABTpVE5EM7CUooGk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "detailViewComponent",
        "generated": true
    },
    {
        "id": "sd_ABTpVE5EM7CUooGk",
        "type": "SnackBar",
        "z": "sd_PMiZvyRFcxv5v9TD",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "bh.local",
            "value": "response.message"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "2500"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_ABTpVE5EM7CUooGk",
        "category": "General",
        "x": 945,
        "y": 540,
        "wires": [
            [
                "sd_pDuIxgiLL1BS3WgE"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "detailViewComponent",
        "generated": true
    },
    {
        "id": "sd_FtX8idw3PRLfOrII",
        "type": "Script",
        "z": "sd_PMiZvyRFcxv5v9TD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(bh.local.response)",
        "functionName": "sd_FtX8idw3PRLfOrII",
        "category": "Function",
        "x": 705,
        "y": 540,
        "wires": [
            [
                "sd_8HbYx08mU9m1MA8H"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "detailViewComponent",
        "generated": true
    }
]
